<div class='pokedex_results_container'>
  <div class='results_container'>
    
    <div class='name_ID'>
      <h3 class='poke_name'><%= @pokemon_name %></h3>
      <h3 class='poke_divider'> || </h3>
      <h3 class='poke_id'>Entry ID #<%= @pokemon_id %></h3>
    </div>

    <div class='photo_screen'>
      <%= image_tag("sprites/official-artwork/#{@pokemon_id}.png", :class => "poke_img") %>
    </div>

    <div class='poke_stats'>
      <div class='poke_description'>
        <%= @pokemon_desc %>
      </div>

      <div class='poke_category'>
        <p> Category:
        <br>
        <%= @poke_category %>
        </p>
      </div>

      <div class='poke_four'>
        <span class='height'> Height:
        <br/> 
        <%= @ft %>' <%= @inches %>''
        </span>
        <span class='abilities'> Abilities:
        <br/> 
        <%= @abilities.join(', ') %>
        </span>
        <span class='weight'> Weight:
        <br/> 
        <%= @weight %> lbs
        </span>
        <span class='genus'> Type:
        <br/> 
        <%= @poke_types.join(', ') %>
        </span>
      </div>

      <div class='evo_chain'>
        <p> Evolutions:
        <br>
        <%= @names.join(', ') %>
        </p>
      </div>

    </div>

  </div>
</div>